header.bar:not(.hidden-android) {
	border: none;
	background-image: linear-gradient(#2ECC71, #5cb85c) !important;
	color: #fff;
}
.icon {
	color: rgba(0, 0, 0, 0.5);
}
.card {
	border: none;
	border-radius: 0;
}
.title {
	position: static;
	padding-left: 15px;
	font-size: 18px;
	line-height: 49px;
	text-align: left;
}
