.navbar-ht .navbar-brand {
	width: 10px;
	text-indent: -77px;
	transition: all 1s;
	box-sizing: content-box;
	overflow: hidden;
	padding: 0;
	margin: 15px 15px;
	color: #ffffff
}
.navbar-ht .navbar-brand:hover,
.navbar-ht .navbar-brand:focus {
	width: 77px;
	text-indent: 0;
	color: #ffffff;
	background-color: transparent
}
.navbar-ht .navbar-brand::after {
	content: '#';
}
.navbar-ht {
	background-color: #2ECC71;
	border-bottom: #27AE60 3px solid;
	border-radius: 0;
}
.input-group-addon,
.form-control {
	border: 2px solid #27AE60;
}
.input-group-addon {
	background-color: #27AE60;
	color: #f4f6f6;
}
.navbar-ht .navbar-collapse,
.navbar-ht .navbar-form {
	border-color: #101010
}
.input-group {
	width: 200px;
}
.navbar-ht .navbar-toggle {
	border-color: #ffffff;
}
.navbar-ht .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.time {
	color: #bfbfbf;
}
iframe {
	display: block;
	max-width: 100%;
	max-height: -webkit-fill-available;
	max-height: -moz-available;
	border: none;
}
.postBox {
	position: sticky;
	bottom: 10px;
	border: 1px solid #eee;
	padding: 10px;
	background: #f8f8f8;
}
.postBox.drag::before {
	content: '+ Drop a file here';
}
.postBox.drag form {
	display: none;
	visibility: hidden;
}
.btn-success {
	color: #ffffff;
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
	background-color: #58d68d;
	border-color: #2ecc71;
}
.btn-default {
	color: #ffffff;
	background-color: #2ecc71;
	border-color: #2ecc71;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
[open] .btn-default {
	color: #ffffff;
	background-color: #27AE60;
	border-color: #2ecc71;
}
