<!doctype html>
<html data-ng-app="hashtalk" lang="en">

<head>
	<meta charset="utf-8">
	<title>HashTalk</title>
	<meta name="description" content="A chat with hashtags" />
	<meta name="author" content="leops" />
	<meta name="keywords" content="hashtalk, hashtags, chat" />
	<link rel="canonical" href="http://hashtalk.herokuapp.com/" />
	<meta name="google-site-verification" content="26rJwnaynO64j5Uxjxma4PPAur8w_PEcuAF2xnRD3rw" />
	<meta name="msvalidate.01" content="AB0A6DC507709A3E54E5005532AC79EC" />
	<meta name='yandex-verification' content='6fc4402f7a196f39' />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="img/favicon.png" rel="icon" type="image/png">
	<link rel="apple-touch-icon" href="img/favicon.png">
</head>

<body data-ng-controller="HTCtrl">
	<nav class="navbar navbar-ht">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">HashTalk</a>
		</div>
		<div class="collapse navbar-collapse">
			<p data-ng-if="installable" class="navbar-text">
				<a data-ng-click="install()" href="#" class="navbar-link">Install</a>
			</p>
			<form class="navbar-form form-inline navbar-right" role="search">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">#</span>
						<input type="text" id="hashtag" class="form-control" data-ng-model="search.hashtag" placeholder="Hashtag">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="text" id="pseudo" class="form-control" data-ng-model="search.pseudo" placeholder="Nickname">
					</div>
				</div>
			</form>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 well">
				<div data-ng-cloak data-ng-repeat="message in messages | orderByPriority | filter:msgFilter:false" data-ng-init="message = format(message)" class="media msg">
					<span class="pull-left" data-ng-click="search.pseudo = ((message.type == 'message')?message.pseudo[0]:message.pseudo)">
						<img class="media-object" src="//www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=32" alt="{{ (message.type == 'message')?message.pseudo[0]:message.pseudo }}" data-gravatar-src="'{{ (message.type == 'message')?message.pseudo[0]:message.pseudo }}'" data-gravatar-size="32" data-gravatar-default="identicon">
					</span>
					<div class="media-body">
						<small class="pull-right time">
							<i class="fa fa-clock-o"></i>&nbsp;{{ message.time }}</small>
						<h5 class="media-heading" data-pseudo="{{ (message.type == 'message')?message.pseudo[0]:message.pseudo }}">{{ (message.type == 'message')?message.pseudo[0]:message.pseudo }}</h5>
						<div class="col-lg-10">
							<small data-ng-if="message.type != 'file'" data-ng-bind-html="message.msg"></small>
							<details data-ng-if="message.type == 'file'">
								<summary class="btn btn-default">File</summary>
								<iframe data-ng-src="{{message.msg}}">
								</iframe>
							</details>
							<a data-ng-if="message.hashtag && message.hashtag[0]" class="label label-primary" data-ng-click="search.hashtag = message.hashtag[0]" href="#">#{{message.hashtag[0]}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="postBox" class="postBox row">
			<form name="postForm" class="col-md-10 col-md-offset-1 form-inline" role="form" data-ng-submit="submit()">
				<div class="form-group" data-ng-class="{'has-error': !postForm.pseudo.$valid}">
					<label class="sr-only" for="nickname">Nickname</label>
					<input data-ng-blur="setPseudo()" type="text" name="nickname" class="form-control" id="nickname" data-ng-model="pseudo" placeholder="Nickname" required/>
				</div>
				<div class="form-group" data-ng-class="{'has-error': !postForm.msg.$valid}">
					<label class="sr-only" for="msg">Message</label>
					<input type="text" class="form-control" name="msg" id="msg" data-ng-model="msg" placeholder="Message" required/>
				</div>
				<input type="submit" class="btn btn-success" value="Envoyer" />
			</form>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="js/socket.io-stream.js"></script>
	<script src="//cdn.firebase.com/v0/firebase.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
	<script src="js/gravatar/md5.min.js"></script>
	<script src="js/gravatar/angular-gravatar.min.js"></script>
	<script src="js/main.min.js"></script>
</body>

</html>
